.mono { font-family: monospace; }
.smalltext { font-size: 12px; }
.xsmalltext { font-size: 10px; }

.top-margin [class=row] { margin-top: 5px; }

textarea {
   resize: none;
}

.col-centered {
    float: none;
    margin: 0px auto;
}